<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div>
    <% for (let campground of campgrounds) { %>
        <div class="card" mb-3>
            <div class="row">
                <div id="<%= campground._id %>" class="carousel slide col-md-4" data-bs-ride="true">
                    <div class="carousel-inner">
                        <% campground.images.forEach((img, i)=> { %>
                            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                <img src="<%= img.url %>" class="d-block w-100" alt="">
                            </div>
                            <% }) %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#<%= campground._id %>"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#<%= campground._id %>"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%= campground.image %>">
                </div> -->
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-secondary">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title
                                %></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>